<h1>Create an label file</h1>

<form method="post" action="/dashboard/label/create" class="form" enctype="multipart/form-data">
    <label class="labels" for="name">Name of the label</label>
    <input class="input" type="text" id="name" name="name">

    <label class="labels" for="city">City</label>
    <input class="input" type="text" id="city" name="city">

    <label class="labels" for="country">Country</label>
    <input class="input" type="text" id="country" name="country">

    <label class="labels" for="street">Street</label>
    <input class="input" type="text" id="street" name="street">

    <label class="labels" for="streetNumber">Street number</label>
    <input class="input" type="number" id="streetNumber" name="streetNumber">

    <label class="labels" for="zip">Zip</label>
    <input class="input" type="number" id="zipcode" name="zip">

    <label class="labels" for="logo">Logo</label>
    <input class="input" type="text" id="logo" name="logo">

    <button type="submit">Create label</button>
</form>