<h1>Create a style file</h1>

<form method="post" action="/dashboard/style/create" class="form" enctype="multipart/form-data">
    <label class="labels" for="name">Style's name</label>
    <input class="input" type="text" id="name" name="name">

    <label class="labels" for="wikiURL">Wiki</label>
    <input class="input" type="text" id="wikiURL" name="wikiURL">

    <label class="labels" for="color">Color</label>
    <input class="input" type="color" id="color" name="color">

    <button type="submit">Create style</button>
</form>